html, body, footer, p, ul, ol, li, h1, h2, h3{
  margin: 0;
  padding: 0;
  border: none;
  font:inherit;
}

body{
  font: 16px Helvetica, Arial, sans-serif;
  margin: auto 30px;

}
h1{
  font-size: 24px;
  margin-bottom: 15px;
}
h2{
  font-size: 22px;
  margin-bottom: 15px;
}
h3{
  font-size: 20px;
  margin-bottom: 15px;
}
section{
  margin-bottom: 20px;
}
#site-brand img{
  float: left;
  display: block;
  height: 40px;
  width: 40px;
  margin: 15px;
}
#site-brand h1{
  font-size: 20px;
  margin: 15px;
  width: 300px;
  display: block;
  vertical-align:middle;
}
.main-nav{
  display: block;
  margin-bottom: 0;
  height: 48px;
  border-bottom: 1px solid #4d4d4d;
  text-align: center;
}

.main-nav ul{
  display: inline;
  list-style: none;
}

.main-nav ul li {
  display: inline;
  list-style: none;
  padding-right: 25px;
}
.main-nav li:last-child {
  padding-right: 0;
}
.main-content{
  margin: 0 150px;
}
.banner-text-content{
  margin: 20px 0;
}
.list-news-item{
  margin: 15px;
}
.news-item{
  border: 1px solid;
  padding: 20px;
  margin-bottom: 40px;
  max-width: 250px;

}
.newsfeed ul{
  list-style: none;
}
.newsfeed header{
  height: 45px;
}
.link-inline{
  float: right;
}
.banner {
  width: 100%;
}
.about-dat{
  margin-bottom: 40px;
}
.light-dark a[role='button']{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  color: #444444;
  border: 2px solid #444444;
  margin: 20px 0;
}
.not-anymore{
  text-decoration: line-through;
}
.jumbo{
  margin: 30px auto;
}
.jumbo h1{
  font: 60px bold Helvetica, Arial, sans-serif;
}
/*.jumbo a[role='button']{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  color: #444444;
  border: 2px solid #444444;
}*/
.light-dark a[role='button']:hover{
  color: white;
  background-color: #444444;
}
footer{
  border: 1px solid;
  background-color: #f5f5f5;
  padding-bottom: 80px;
  height: 200px;
}
footer img{
  float: left;
}
a:hover, a:focus, a:active{
  /*box-shadow: 0px 2px 0 0px #adadad;*/
  background-color: #dedede;
}
.tag{
  font-family: monospace;
  margin: 15px 0;
}
