html, body, footer, p, , ol, li, h1, h2, h3{
  margin: 0;
  padding: 0;
  border: none;
  /*font-family: "Open Sans", Verdana, "Bitstream Vera Sans", sans-serif;*/

}

/* Colours from uikit:
Hero: #115361;
primary: #1B7991;
Secondary: #313131;
Background: #f0f3f5;
Border: #555;
Text #313131;
Link: #5bcbe3;

*/

body{
  /* System Fonts as used by GitHub */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  margin: auto 30px;

}
h1{
  font-size: 24px;
  margin-bottom: 15px;
}
h2{
  font-size: 22px;
  margin-bottom: 15px;
}
h3{
  font-size: 20px;
  margin-bottom: 15px;
}
section{
  margin-bottom: 20px;
}
.logo{
  background: grey url('logo.png');
  display: block;
  float: left;
  height: 40px;
  width: 40px;
  margin: 15px;
  text-indent: -9999px;
}
#site-brand h1{
  font-size: 20px;
  margin: 15px;
  width: 300px;
  display: block;
  vertical-align:middle;
}
.main-nav{
  display: block;
  margin-bottom: 0;
  height: 48px;
  border-bottom: 1px solid #4d4d4d;
  text-align: center;
}

.main-nav ul{
  display: inline;
  list-style: none;
}

.main-nav ul li {
  display: inline;
  list-style: none;
  padding-right: 25px;
}
.main-nav li:last-child {
  padding-right: 0;
}
.main-content{
  margin: 0 150px;
}
.container {
  box-sizing: border-box;
  padding: auto 12px;
  margin: auto;
}
.banner-text-content{
  margin: 20px 0;
}
.list-news-item{
  margin: 15px;
}
.news-item{
  border: 1px solid;
  padding: 20px;
  margin-bottom: 40px;
  max-width: 250px;

}
/* Placeholder style until I bring across the uikit-body stylesheet */
.card {
  background-color: #fff;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border: 1px solid #555;
  border-radius: 3px;
  overflow: hidden;
}
.card__wrapper{
  display: flex;
  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  -webkit box-align: baseline;
  align-items: baseline;
  flex: auto;
  padding: 20px;
}
.card__image{
  width: 100%;
}
.card__headline{
  display: inline-block;
  border-bottom: solid 1px #1B7991;
}
.card__text{
  margin-bottom: auto;
  color: #313131;
}
.newsfeed ul {
  list-style: none;
  padding-left: 0;
}
.list-404 ul{
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
  margin-bottom: 40px;
}
.newsfeed header{
  height: 45px;
}
.link-inline{
  float: right;
  position: relative;
  top: 3px;
}
.about-dat{
  margin-bottom: 40px;
}
.light-dark a[role='button']{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  color: #444444;
  border: 2px solid #444444;
  margin: 20px 0;
}
.not-anymore{
  text-decoration: line-through;
}
.jumbo{
  margin: 30px auto;
}
.jumbo h1{
  font: 60px bold Helvetica, Arial, sans-serif;
}
/*.jumbo a[role='button']{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  color: #444444;
  border: 2px solid #444444;
}*/
.light-dark a[role='button']:hover{
  color: white;
  background-color: #444444;
}
footer{
  border: 1px solid;
  background-color: #f5f5f5;
  padding-bottom: 80px;
  height: 200px;
}
footer img{
  float: left;
}
a:hover, a:focus, a:active{
  /*box-shadow: 0px 2px 0 0px #adadad;*/
  background-color: #dedede;
}
.tag{
  font-family: monospace;
  margin: 15px 0;
}
